<div class="_swOuter" style="overflow: hidden;"><div class="_swInner" style="margin: 0px auto auto;"><form action="login/login" method="post" class="xenForm eAuth" id="login" style="display: block;">

	
		<ul id="eAuthUnit">
			
				
				
					
					<li><a href="register/facebook?reg=1" class="fbLogin" tabindex="110"><span>Đăng nhập bằng Facebook</span></a></li>
				
				
				
				
				
					
					<li><span class="googleLogin GoogleLogin JsOnly" tabindex="110" data-client-id="39900113165-qj8599eg27gkm1g340j00tqrdqu8hk1p.apps.googleusercontent.com" data-redirect-url="register/google?code=__CODE__&amp;csrf=4wTBICvnrzNdpSpb" data-gapiattached="true"><span>Đăng nhập bằng Google</span></span></li>
				
				
			
		</ul>
	

	<div class="ctrlWrapper">
		<dl class="ctrlUnit">
			<dt><label for="LoginControl">Tài khoản hoặc email:</label></dt>
			<dd><input type="text" name="login" id="LoginControl" class="textCtrl" tabindex="101"></dd>
		</dl>
	
	
		<dl class="ctrlUnit">
			<dt>
				<label for="ctrl_password">Bạn có tài khoản chưa?</label>
			</dt>
			<dd>
				<ul>
					<li><label for="ctrl_not_registered"><input type="radio" name="register" value="1" id="ctrl_not_registered" tabindex="105">
						Chưa, đăng ký ngay!</label></li>
					<li><label for="ctrl_registered"><input type="radio" name="register" value="0" id="ctrl_registered" tabindex="105" checked="checked" class="Disabler">
						Rồi, mật khẩu là:</label></li>
					<li id="ctrl_registered_Disabler">
						<input type="password" name="password" class="textCtrl" id="ctrl_password" tabindex="102">
						<div class="lostPassword"><a href="lost-password/" class="OverlayTrigger OverlayCloser" tabindex="106">Quên mật khẩu?</a></div>
					</li>
				</ul>
			</dd>
		</dl>
	
		
		<dl class="ctrlUnit submitUnit">
			<dt></dt>
			<dd>
				<input type="submit" class="button primary" value="Đăng nhập" tabindex="104" data-loginphrase="Đăng nhập" data-signupphrase="Đăng ký">
				<label for="ctrl_remember" class="rememberPassword"><input type="checkbox" checked="checked" name="remember" value="1" id="ctrl_remember" tabindex="103"> Ghi nhớ</label>
			</dd>
		</dl>
	</div>

	<input type="hidden" name="cookie_check" value="1">
	<input type="hidden" name="redirect" value="/">
	<input type="hidden" name="_xfToken" value="">

</form></div></div>