/*========================================
                MODEL LOGIN
=========================================*/
.modal {
    /*! adjust transition time */
    -webkit-transition: all ease-out !important;
    -moz-transition: all 0.5s ease-out !important;
    -o-transition: all 0.5s ease-out !important;
    transition: all 0.5s ease-out !important;
}
.modal.in .modal-dialog {
    /*! editthis transform to any transform you want */
    -webkit-transform: scale(1, 1) !important;
    -ms-transform: scale(1, 1) !important;
    transform: scale(1, 1) !important;
}
.modal.fade .modal-dialog {
    /*! disable sliding from left/right/top/bottom */
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0  , 0);
}

.id {
    
    border-radius:5px 16px;
    margin-top:4px;
}

.spacing {
    padding-top:7px;
    padding-bottom:7px;
}
.middlePage {
    width: 680px;
    height: 500px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 10%;
    right: 10%;
    margin: 0;
}

.logo {
    color:#CCC;
}