@charset "utf-8";
/* CSS Document */

body {
  font: Verdana, Arial, Helvetica, sans-serif;
  /*background-color: #42413C;*/
  background-color: rgb(242, 240, 225) !important;
  margin: 0;
  padding: 0;
  color: #000;
}
body {
  overflow-x: auto;
  overflow-y: scroll; 
  height: 100%;
}

body {
      font: 400 15px/1.8 Lato, sans-serif;
      color: #777;
  }
  h3, h4 {
      margin: 10px 0 30px 0;
      letter-spacing: 10px;      
      font-size: 20px;
      color: #111;
  }
  .container {
      padding: 80px 120px;
  }
  .person {
      border: 10px solid transparent;
      margin-bottom: 25px;
      width: 80%;
      height: 80%;
      opacity: 0.7;
  }
  .person:hover {
      border-color: #f1f1f1;
  }
  .carousel-inner img {
     
      width: 100%; /* Set width to 100% */
      margin: auto;
     object-fit: cover;
    height: 639px !important;
  }
  .carousel-caption h3 {
      color: #fff !important;
  }
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
  }
  
  .bg-1 {
      background: #2d2d30;
      color: #bdbdbd;
      width: 100% !important;
  }
  .bg-1 h3 {color: #fff;}
  .bg-1 p {font-style: italic;}
  .list-group-item:first-child {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
  }
  .list-group-item:last-child {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
  }
  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .thumbnail p {
      margin-top: 15px;
      color: #555;
  }
  .btn {
      padding: 10px 20px;
      background-color: #333;
      color: #f1f1f1;
      border-radius: 0;
      transition: .2s;
  }
  .btn:hover, .btn:focus {
      border: 1px solid #333;
      background-color: #fff;
      color: #000;
  }
  .modal-header, h4, .close {
      background-color: #333;
      color: #fff !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-header, .modal-body {
      padding: 40px 50px;
  }
  .nav-tabs li a {
      color: #777;
  }
  #googleMap {
      width: 100%;
      height: 400px;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
  }  
  .navbar {
      font-family: Montserrat, sans-serif;
      margin-bottom: 0;
      background-color: #2d2d30;
      border: 0;
      font-size: 11px !important;
      letter-spacing: 4px;
      opacity: 0.9;
  }
  .navbar li a, .navbar .navbar-brand { 
      color: #d5d5d5 !important;
  }
  .navbar-nav li a:hover {
      color: #fff !important;
  }
  .navbar-nav li.active a {
      color: #fff !important;
      background-color: #29292c !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
  }
  .open .dropdown-toggle {
      color: #fff;
      background-color: #555 !important;
  }
  .dropdown-menu li a {
      color: #000 !important;
  }
  .dropdown-menu li a:hover {
      background-color: red !important;
  }
  /*footer {
      background-color: #2d2d30;
      color: #f5f5f5;
      padding: 32px;
  }
  footer a {
      color: #f5f5f5;
  }
  footer a:hover {
      color: #777;
      text-decoration: none;
  }  
  .form-control {
      border-radius: 0;
  }
  textarea {
      resize: none;
  }*/

/*ABOUT*/
.about-content{
  background-image: url("");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 1px;
  width: 100% !important;
}
.about-img img{
   width: 100%; 
   height: 300px;
}
.about-text{

}
/*ABOUT*/

/*================== FOOTER - LOGIN FORM ==================*/
.center hr, hr.center {
  margin-left: auto;
  margin-right: auto;
}
.well2 {
  padding-top: 31px;
  padding-bottom: 30px;
}
.container .grid_8 {
  width: 770px;
}
.center {
  text-align: center;
}
/*==================    Buttons    ======================*/
.btn {
  display: inline-block;
  padding: 18.5px 20px 18.5px 20px;
  line-height: 24px;
  color: #FFF;
  background: #4280c9;
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
}
.btn:hover {
  background: #3067a8;
}
@media (max-width: 479px) {
  .btn {
    font-size: 20px;
  }
}

/*=================Register Form=============*/
.bg-secondary {
  background: #576475;
  white-space: nowrap;
      margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: top;
    height: 100%;
}
.bg-secondary h2 {
  color: #FFF;
}
.bg-secondary h2, .bg-secondary .subscribe-form {
  display: inline-block;
}
.bg-secondary h2 + .subscribe-form {
  margin-left: 22px;
}
.bg-secondary h2 {
  line-height: 48px;
}
.preffix_2{
  text-align: -webkit-center;
    display: -webkit-inline-box;
}
/*=================Register Form=============*/
/*==================  RD Parallax    ======================*/
.parallax {
  position: relative;
  overflow: hidden;
}
.parallax_image, .parallax_pattern {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-position: center center;
  will-change: transform;
}
.parallax_image {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.parallax_pattern {
  background-repeat: repeat;
}
.parallax_cnt {
  position: relative;
}
.well4 {
  padding: 98px 0 33px;
}
.well5 {
  padding-top: 15px;
  padding-bottom: 18px;
}

/*==================     Subscribe Form     ======================*/
.subscribe-form {
  position: relative;
  display: inline-block;
  width: 562px;
}
.subscribe-form label {
  display: inline-block;
  max-width: 410px;
  width: 100%;
  position: relative;
  padding: 12px 17px 12px;
  background: white;
  border: 1px solid white;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.subscribe-form input {
  outline: none;
  background-color: transparent;
  border: none;
  -webkit-appearance: none;
  border-radius: 0;
  vertical-align: baseline;
  box-shadow: none;
  color: #c1c1c1;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 19px;
  font-weight: 400;
  font-family: "Ubuntu", sans-serif;
  line-height: 22px;
  text-transform: uppercase;
  height: 22px;
}
.subscribe-form a[data-type="submit"] {
  padding: 12px 20px;
  font-size: 19px;
  line-height: 24px;
}
.subscribe-form label + a[data-type="submit"] {
  margin-top: 0;
  margin-left: 6px;
}
@media (max-width: 979px) {
  .subscribe-form label + a[data-type="submit"] {
    margin-top: 10px;
    margin-left: 0;
  }
}

.error {
  position: absolute;
  top: 2px;
  right: 5px;
  font-size: 10px;
  line-height: 12px;
  color: #f00;
  overflow: hidden;
  height: 0px;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

label.invalid .error {
  height: 21px;
}

.success {
  display: none;
  position: absolute;
  top: 2px;
  right: 5px;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #38A46B;
}
.preffix_2 h2{
  text-transform: uppercase; 
  line-height: 48px;
}
@media (max-width: 479px) {
  .subscribe-form label {
    width: 100%;
  }
}
/*=================== FOOTER===================*/
footer {
  background: #10223A;
  color: #fff;
}
footer h2 {
  font-weight: 700;
  font-size: 64px;
  line-height: 60px;
}
footer h3 {
  font-weight: 300;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 6.6px;
}
footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
  color: #FFF;
}
footer .btn {
  max-width: 100%;
  width: 410px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2% 1%;
  
}
footer hr {
  background: #FFF;
}
footer hr + h2 {
  margin-top: 39px;
}
footer h3 + .btn {
  margin-top: 56px;
}
footer .copyright {
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
}
footer * + .copyright {
  margin-top: 71px;
}
/*===============FOOTER======================*/
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

/*================== FOOTER - LOGIN FORM ==================*/