
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, input, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: "Helvetica Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
    vertical-align: baseline;
}
a {
  text-decoration: initial !important;
    outline: none;
}

@media (max-width: 1200px){
 body {
    min-width: 1200px;
  }
}
.logo{

  font-family: reklamescriptw00-medium,cursive;
  font-size: 30px !important;
  letter-spacing: 7px !important;
}
.navbar-nav > li > a.sign-up-in:hover{
  color: black !important;
}
/*========================================================
                    CAROUSEL SLIDE IMAGE CSS
=========================================================*/
.carousel-caption{
  top: 30%;
  bottom: 30%;
}
.carousel-inner img {
  width: 100%; /* Set width to 100% */
  margin: auto;
  object-fit: cover;
  height: 639px;
}
.carousel-inner.item img{
   height: 639px !important
}
.carousel-caption h3 {
  color: #fff !important;
}

.carousel-caption h3{
  color: #fff;
  font-family: 'Signika', sans-serif;
  font-size: 60px;
  font-weight: normal;
}
@media (max-width: 600px) {
  .carousel-caption {
    display: none; /* Hide taohe carousel text when the screen is less than 600 pixels wide */
  }
}
/*========================================================
                            SLIDE IMAGE
  =========================================================*/
.bg-1 {
  background: #2d2d30;
  color: #bdbdbd;
  width: 100% !important;
}
  .bg-1 h3 {color: #fff;}
  .bg-1 p {font-style: italic;}
  .list-group-item:first-child {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
  }
  .list-group-item:last-child {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
  }
  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .thumbnail p {
      margin-top: 15px;
      color: #555;
  }
/***************NAVBAR MENU*******************/
  .navbar {
      font-family: Montserrat, sans-serif;
      margin-bottom: 0;
      border: 0;
      font-size: 11px !important;
      
  }
   .navbar-index{
    letter-spacing: 4px;
    opacity: 0.9;
    background-color: #222 !important;
  }
  .navbar-index li a, .navbar-index .navbar-brand { 
      color: #d5d5d5 !important;
  }
  .navbar-nav > li > a:hover {
      color: #fff !important;
  }
  .navbar-nav li.active a {
      color: #fff !important;
      background-color: #29292c !important;
    /* height: 49px !important;*/
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
  }
  
 .nav-tabs > li > a {
  margin: 0 !important;
 }


/*********************ABOUT***************************/
.about-content{
  padding: 0 !important;
}
.about-img img{
   width: 100%; 
   height: 300px;
}
.about-text{

}
/***************************ABOUT***********************/

/*================== FOOTER - LOGIN FORM ==================*/
.center hr, hr.center {
  margin-left: auto;
  margin-right: auto;
}
.well2 {
  padding-top: 31px;
  padding-bottom: 30px;
}
.center {
  text-align: center;
}
/*==================    BUTTONS    ======================*/
.btn {
  display: inline-block;
  padding: 18.5px 20px 18.5px 20px;
  line-height: 24px;
  color: #FFF;
  background: #4280c9;
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
}
.btn:hover {
  background: #3067a8;
}
@media (max-width: 479px) {
  .btn {
    font-size: 20px;
  }
}


/*==================  RD Parallax    ======================*/
.well4 {
  padding: 98px 0 33px;
}
.well5 {
  padding-top: 15px;
  padding-bottom: 18px;
}
.parallax {
  position: relative;
  overflow: hidden;
}
.parallax_image, .parallax_pattern {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-position: center center;
  will-change: transform;
}
.parallax_image {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.parallax_pattern {
  background-repeat: repeat;
}
.parallax_cnt {
  position: relative;
}

/*==================     Subscribe Form     ======================*/
.bg-secondary {
  background: #576475;
  white-space: nowrap;
      margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: top;
    height: 100%;
}
.bg-secondary h2 {
  color: #FFF;
}
.bg-secondary h2, .bg-secondary .subscribe-form {
  display: inline-block;
}
.bg-secondary h2 + .subscribe-form {
  margin-left: 22px;
}
.bg-secondary h2 {
  line-height: 48px;
}
.preffix_2{
  text-align: -webkit-center;
    display: -webkit-inline-box;
}
.subscribe-form {
  position: relative;
  display: inline-block;
  width: 562px;
}
.subscribe-form label {
  display: inline-block;
  max-width: 410px;
  width: 100%;
  position: relative;
  padding: 12px 17px 12px;
  background: white;
  border: 1px solid white;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.subscribe-form input {
  outline: none;
  background-color: transparent;
  border: none;
  -webkit-appearance: none;
  border-radius: 0;
  vertical-align: baseline;
  box-shadow: none;
  color: #c1c1c1;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 19px;
  font-weight: 400;
  font-family: "Ubuntu", sans-serif;
  line-height: 22px;
  text-transform: uppercase;
  height: 22px;
}
.subscribe-form a[data-type="submit"] {
  padding: 12px 20px;
  font-size: 19px;
  line-height: 24px;
  width: 200px;
}
.subscribe-form label + a[data-type="submit"] {
  margin-top: 0;
  margin-left: 6px;
}
@media (max-width: 979px) {
  .subscribe-form label + a[data-type="submit"] {
    margin-top: 10px;
    margin-left: 0;
  }
}

.error {
  position: absolute;
  top: 2px;
  right: 5px;
  font-size: 10px;
  line-height: 12px;
  color: #f00;
  overflow: hidden;
  height: 0px;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

label.invalid .error {
  height: 21px;
}

.success {
  display: none;
  position: absolute;
  top: 2px;
  right: 5px;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #38A46B;
}
.preffix_2 h2{
  text-transform: uppercase; 
  line-height: 48px;
}
@media (max-width: 479px) {
  .subscribe-form label {
    width: 100%;
  }
}
/*=================== FOOTER===================*/
footer {
  background: #10223A;
  color: #fff;
}
footer h2 {
  font-weight: 700;
  font-size: 64px;
  line-height: 60px;
}
footer h3 {
  font-weight: 300;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 6.6px;
}
footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
  color: #FFF;
}
footer .btn {
  max-width: 100%;
  width: 410px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2% 1%;
  
}
footer hr {
  background: #FFF;
}
footer hr + h2 {
  margin-top: 39px;
}
footer h3 + .btn {
  margin-top: 56px;
}
footer .copyright {
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
}
footer * + .copyright {
  margin-top: 71px;
}
/*===============FOOTER======================*/

/*================== FOOTER - LOGIN FORM ==================*/

.error-sign {
  display: block;
 /*   background: #F1D992;*/
    height: 50px;
   /* text-align: center;*/
    padding: 14px;
    margin: auto;
    color: #F50909;
    font-size: 12px;
    border-radius: 4px;
}

/*================================================================
                          UPLOAD CSS
=================================================================*/
.close-upload{
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.fileupload-buttonbar input[type='checkbox'] {

    /* Hide the input, but have it still be clickable */
    width: 18px;
}
 .fileupload-buttonbar input[type='checkbox']:checked{  
  margin: 0;
    clear: none;

    /* Left padding makes room for image */
    padding: 5px 0 4px 24px;

    /* Make look clickable because they are */
    cursor: pointer;

    background: url(/images/icon/delete.png) left center no-repeat;
  }

  .fileupload-buttonbar input[type='checkbox']:checked{  
    background-image: url(/images/icon/delete.png);
}
.form-group > input[type='text']{

    border: none;
    border-bottom: 1px solid #90B5B4;
    width: 100%;
    padding: 12px 20px;
   /* margin: 8px 0;*/
    box-sizing: border-box;
}
.right-upload{
    position: absolute;
    top: 2%;
    right: 2.5%;
    width: 24%;
    height: 430px;
    background: rgb(237, 240, 247);
    border-top: 1px solid rgb(216, 206, 206);
    margin: 15px 10px;
    padding: 11px;
    border-radius: 2px;
}

.gallerryImgHeader{
  width: 100%;
    height: 80px;
    border-bottom: 1px solid #46503F;
}
/*===================== CSS FOR PROFILE =========================*/
.album-name{
      height: 50px;
    text-align: left;
    padding: 8px;
    font-size: 23px;
    text-transform: capitalize;
    font-family: 'Jockey One';
    background: rgba(31, 164, 169, 0.69);
    width: 22%;
    border-radius: 3px;
    margin: 8px 0;
}
.empty-images{
  text-align: center;
    font-family: 'Fredericka the Great','Helvetica-W01-Roman','Braggadocio-W01','Vast Shadow','Signika';
    font-size: 22px;
    font-weight: 600;
    color: rgba(50, 108, 158, 0.84);
}